<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>健康状態の一覧</title>
</head>

<body>
    <h1>健康状態の一覧</h1>

    <table border=1>
        <tr th:each="hc, stat: ${hList}">
            <td th:text="${hc.name}"></td>
            <th:block th:each="ans, i: ${hc.answers}">
                <th:block th:switch="${ans}">
                    <!-- はい，いいえを Y/Nに変換-->
                    <td th:case="はい" th:text="Y" style='background:yellow'></td>
                    <td th:case="いいえ" th:text="N"></td>
                    <!-- 37.5以上 42.0未満は色を変える-->
                    <td th:case=* th:text="${ans}"
                        th:style="${(ans >= '37.5' and ans < '42.0') ? 'background:yellow': '' }"></td>
                </th:block>
            </th:block>
        </tr>
    </table>

</body>


</html>